@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*,
body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background: #f4f7ff;
}

nav.navbar-container {
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 0px 50px;
  background: #fff;
  box-shadow: 0px 4px 25px rgba(151, 151, 151, 0.1);
}

.navbar-container .nav-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  background: #fff;
}

.navbar-container .nav-logo > img {
  background: #fff;
}
.navbar-container .nav-logo > p {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #4c3f91;
  background: #fff;
}
.navbar-container .nav-logo > p > span {
  color: #ff5677;
  background: #fff;
}
.navbar-container .menu {
  background: #fff;
}

.navbar-container .menu > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: #fff;
}
.navbar-container .menu > ul > li {
  list-style: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  background: #fff;
}

.navbar-container .profile-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  background: #fff;
}

.profile-info .profile-frame {
  position: relative;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #3366ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-frame > img {
  position: absolute;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.profile-info .profile-name > p {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: capitalize;
  background: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;

  padding-top: 50px;
}

.container .wrapped {
  background: #fff;
  width: 70vw;
  height: 100vh;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 100px 50px 100px 50px;
}

.wrapped .left-section {
  width: 32vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 50px;
  margin-top: 10px;
}
/* .left-section .img-product{
  position: relative;
}
.img-product .img-dissolve {
  position: absolute;
  background: black;
  width: 20vh;
  height: 100px;
  z-index: 100;
} */

.img-product > img {
  width: 20vw;
  border-radius: 25px;
}
.left-section .wishlist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.wishlist > p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.wrapped .right-section {
  width: 32vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-right: 40px;
}

.right-section .right-wrapped {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.right-wrapped .title-product {
  width: 15vw;
}
.right-wrapped .title-product > p {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 2px;
}

.place-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.place-container .place,
.place-container .time {
  display: flex;
  align-items: center;
  gap: 10px;
}

.place-container .place > p,
.place-container .time > p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.attendance > p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.event-container .event-title > p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.event-container .event-detail > p {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 5px;
}
.event-container .event-detail > a {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 20px;
}
.location-container {
  margin-top: 25px;
  margin-bottom: 40px;
}

.location-container .title > p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.btn-container {
  width: 33.5vh;
  height: 30px;
}
.btn-container > a > button {
  width: 100%;
  height: 55px;
  background: #4c3f91;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #f4f7ff;
  box-shadow: 0px 8px 10px #4d3f9182;
  cursor: pointer;
}
.btn-container > a > button:hover {
  background: #32208b;
}

/* Footer */
.footer {
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.footer .footer-container {
  width: 70vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
}
.footer-container .logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.logo .img-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.logo .img-logo > p {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #4c3f91;
}
.logo .img-logo > p > span {
  color: #ff5677;
}

.logo .img-socmed {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  gap: 18px;
}
.logo .img-socmed > p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.img-socmed .ic-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo > p {
  padding-top: 120px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer-container .about,
.footer-container .feature,
.footer-container .company {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-container .about > p,
.footer-container .feature > p,
.footer-container .company > p {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer-container .about > ul,
.footer-container .feature > ul,
.footer-container .company > ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-container .about > ul > li,
.footer-container .feature > ul > li,
.footer-container .company > ul > li {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  color: #c1c5d0;
  cursor: pointer;
}
